/* You can add global styles to this file, and also import other style files */
$dark-background : black;
$fontColor-darkBackground : white;
$fontFamily-standard: Roboto, "Helvetica Neue", sans-serif;
html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    font-family: $fontFamily-standard;
}
mat-card{
    margin-top: 1vh;
    min-height: 92vh;
    width: 90%;
}
